.chartCard {
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 20px;
  margin-right: 20px;
  height: 400px !important;
  width: 800px !important;
  transition: .5s ease-in-out !important;
  border-radius: 8px !important;
  background-color: #242228 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;  
}