.tableCard {
  transition: .5s ease-in-out !important;
  height: 175px !important;
  width: 700px !important;
  border-radius: 8px !important;
  background-color: #242228 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;    
}